<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name,
																:url => registration_path(resource_name),
																:html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

		<%= f.inputs do %>
			<%= f.input :current_password,
									:hint => "Enter your current password to confirm your changes",
									:required => true %>
			<%= f.input :email %>
			<%= f.input :password,
									:hint => "Leave this blank if you don't want to change your password",
									:required => false %>
			<%= f.input :password_confirmation %>

		<%= f.semantic_fields_for :profile do |p| %>
		  <%= p.input :picture %>
			<%= p.input :height,
									:as => :select,
									:collection => ["5 0", "5 1", "5 2", "5 3"]%>
			<%= p.input :body_type,
									:as => :select,
									:collection => ["Thin", "Average", "Fit", "Plus Size"] %>
		<% end %>
		<% end %>
		<% f.buttons do %>
			<%= f.commit_button :label => "Update" %>
		<% end %>
	<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>