<div class="oneliner">We scout New York for the most dateable singles and feature one guy and one girl each day.  If you like what you see, send a message.</div>
<div class="featured-people">
	<div class="left">
		<%= image_tag "guy.jpg" %>
		<div class="arrow_prompt_left">
			<div class="arrow_label"><%= link_to "I'd hit that", root_path %>&nbsp;</div>
			<%= image_tag "arrow.png" %>
		</div>
	</div>
	<div class="right">
		<%= image_tag "girl.jpg" %>
		<div class="arrow_prompt_right">
			<div class="arrow_label"><%= link_to "Tell me more", girl_path %>&nbsp;</div>
			<%= image_tag "arrow.png" %>
		</div>
	</div>
</div>