<header>
	<div class="top">
	<div class="site-title">
		<%= link_to "snatch me", root_path, :class => "site-title" %>
	</div>
	<div class="city">New York</div>
	<!-- <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
	    <% if user_signed_in? %>
			<li><%= link_to current_user.email, current_user %>
		  <li><%= link_to "Sign out", destroy_user_session_path %></li>
		  <% else %>
		 	<li><%= link_to "Sign in", new_user_session_path %></li>
		  <% end %>
    </ul>
  </nav> -->
	</div>
</header>