<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Snatch Me</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
	</head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section>
    		<div class="content">
				<%= yield %>
				</div>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>